{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "node": true
  },
  "extends": "eslint:recommended",
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "comma-spacing": [2, {
      "before": false,
      "after": true
    }],
    "eol-last": 1,
    "indent": ["warn", 2],
    "key-spacing": 1,
    "keyword-spacing": 2,
    "no-multi-spaces": "error",
    "no-multiple-empty-lines": ["warn", {
      "max": 1,
      "maxEOF": 1
    }],
    "no-trailing-spaces": 1,
    "no-unused-vars": 1,
    "object-curly-spacing": [1, "always"],
    "quotes": ["warn", "single", {
      "avoidEscape": true
    }],
    "semi": 2,
    "space-before-function-paren": 2
  }
}
